extends ../layout/index 
block content
   

  #speakerList.container
    .row
      .col-sm-8
        article.speakerslist
          .container
            .row
              // speakerslist was passed in! 
              each speaker in speakerslist
                .col-sm-8
                  h3.speakerslist-title=speaker.title
                  h5.speakerslist-name
                    | with &nbs;
                    a(href=`/speakers/${speaker.shortname}`)=speakername
                  p.speakerslist-info
                    a(href=`/speakers/${speaker.shortname}`)
                      img.speakerslist-img.img-circle.pull-left(src=`/images/speakers/${speaker.shortname}_tn.jpg`, alt=`Photo of ${speaker.name}`)
                    | #{speaker.summary}
              
      aside.col-sm-4
        article.sidebar
          include ../includes/artwork
