//- there is no speakerslist in this file because no block for it! 
extends ../../layout/index
block content
  #speakerDetail.container
    .row
      .col-sm-8
        article.speakerslist
          .container
            .row
              .col-sm-8
                h3.speakerslist-title=detailsPage.title
                h5.speakerslist-name
                  | with &nbsp;
                  a(href=`/${detailsPage.shortname}.html`)=detailsPage.name
                p.speakerslist-info
                  a(href=`/${detailsPage.shortname}.html`)
                  img.speakerslist-img.img-responsive.pull-left(src=`/images/speakers/${detailsPage.shortname}.jpg`, alt=`Photo of ${detailsPage.name} Post`)
                !=detailsPage.description
                
      aside.col-sm-4
        article.sidebar
          include ../../includes/artwork
                    